*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

.header-padre{
    display: flex;
    height: 8vh;
    min-height: 5rem;
    width: 100vw;
    background-color: black;
    align-items: center;
}

.header{
    height: 4.5rem;
    min-height: 4.5rem;
}

.logo{
    margin-left: 1rem;
    width: 4.5rem;
    min-width: 4.5rem;
    background-color: black;
}

.midle{
    flex-grow: 1;
}

.navbar{
    margin-right: 1rem;
    width: 22rem;
    background-color:black;
}

.navbar-main ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-main ul li{
    list-style: none;
    font-size: 1.6rem;
    font-family: monospace;
    font-weight: bold;  
}

.navbar-main ul li a{
    text-decoration: none;
    color: white;
}

.navbar-main ul li a:hover{
    color: #939a9d;
    transition: 1s;
}

.logo-helmet{
    height: 4.5rem;
    width: 4.5rem;
    min-height: 4.5rem;
    min-width: 4.5rem;
}

.main-padre{
    
    display: flex;
    flex-wrap: wrap;
    background-color: #0e0e0f;   
}

.main{
    height: 86vh;
    min-height: 53.75rem;
}

.personajes{
    width: 20vw;
    min-width: 25rem;
    display: flex;
    background-color: #42494c;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.personaje{
    width: 90%;
    height: 12.5625rem;
    min-height: 12.5625rem;
    border-radius: 10px;
    background-color: black;
    transition: all 1s;
    position: relative;
}

.personaje span{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-family: monospace;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

.personaje img{
    object-fit: cover;
    width:100%;
    height:100%;   
    border-radius: 5px;
}

.personaje:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08)
}

.info {
    flex-basis: 40rem;  
    flex-grow: 1;
    background-color: #0e0e0f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-info{
    height: 80%;
    width: 95%;
    background-color: white;
    border: solid 2px;
    border-radius: 20px;
    opacity: 0.5;
}

.image-info img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 10px;
}

.text-info{ 
    height: 16%;
    width: 95%;
    background-color: black;
    border: solid 2px;
    border-color: white;
    border-radius: 10px;
    opacity: 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-info p{
    font-family: monospace;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.footer-padre{
    display: flex;
    align-items: center;
    height: 6vh;
    width: 100vw;
    background-color: black;
    justify-content: space-between;
}

.autor{
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white;
    font-family: monospace;
    font-weight: bold;
    background-color: black;
}

.social-net{
    display: flex;
    margin-right: 1rem;  
}

.social-net div{
    height: 3rem;
    width: 3rem;
}

.social-net img{
    object-fit: cover;
    width:100%;
    height:100%; 
    background-color: black;
}



